/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/*  loading spinner code */

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #f0b36a; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* review stars selector */
/* component */

.star-rating {
  margin-left: 20px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}

.review-star-div {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.form-submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* floating whatsapp btn */

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 1.5px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.float,
.my-float :hover {
  color: white !important;
}

/* index page */

.white-logo {
  width: 65px !important;
}

/* reviews cards */

.reviews-cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.review-card {
  width: 350px;
}

.testimonial-two_text {
  height: 140px;
  overflow-y: scroll;
}
